header{
	background-color: #221863;
	height: 8em;
}
#title{
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 280%;
	margin-bottom: 2%;
	border: none;
	border-bottom: 2px solid #C5C4C4;
}
#dropdown{
	padding: 0.5%;
	margin-bottom: 2%;
	margin-right: 2%;
}
#location{
	padding: 0.3%;
}
#description{
	margin-bottom: 2%;
}
#start{
	margin-right: 5%;
	margin-bottom: 2%;
}
#form{
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
	width:100%;
}
#innerTags{
	padding-bottom: 3%;
}
#tags{
	padding-left: 7%;
	padding-right: 7%;
}
.btn{
	background-color: #221863;
	color: white;
}
#cancel{
	background-color: #700707;
}
.btn:hover{
	color: white;
	background-color: #7A7A7A;
}
#cancel:hover{
	color: white;
	background-color: #7A7A7A;
}
