.jumbotron{
	margin-top: 5%;
	padding-bottom: 5%;
	padding-top: 5% !important;
}
#text{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
#buttons{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.btn{
	padding: 10%;
}