<!DOCTYPE HTML>
<html lang=en>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" //>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
<link href="https://fonts.googleapis.com/css?family=Montserrat|Work+Sans:800,900" rel="stylesheet">
<link rel="stylesheet" href = "../static/fstyle.css"/>
<title> Nittany Central </title>
<script></script>
</head>
<body>
	<header></header>
<center>
	<form id="form">
		<input id="title" type="text" name="title" placeholder="New Event Title">
		<br>
		
		<select id="dropdown">
			<option value="All Campuses">All Campuses</option>
			<option value="Abington">Abington</option>
			<option value="Altoona">Altoona</option>
			<option value="Beaver">Beaver</option>
			<option value="Behrend">Behrend</option>
			<option value="Berks">Berks</option>
			<option value="Brandywine">Brandywine</option>
			<option value="Carlisle">Carlisle</option>
			<option value="DuBois">DuBois</option>
			<option value="Fayette">Fayette, The Eberly Campus</option>
			<option value="Great Valley">Great Valley</option>
			<option value="Greater Allegheny">Greater Allegheny</option>
			<option value="Harrisburg">Harrisburg</option>
			<option value="Hazleton">Hazleton</option>
			<option value="Hershey">Hershey</option>
			<option value="Lehigh Valley">Lehigh Valley</option>
			<option value="Mont Alto">Mont Alto</option>
			<option value="New Kensington">New Kensington</option>
			<option value="Schuylkill">Schuylkill</option>
			<option value="Shenango">Shenango</option>
			<option value="University Park">University Park</option>
			<option value="Wilkes-Barre">Wilkes-Barre</option>
			<option value="Williamsport">Williamsport</option>
			<option value="World Campus">World Campus</option>
			<option value="Worthington Scranton">Worthington Scranton</option>
			<option value="York">York</option>
		  </select>
		
		<b>Location : </b>
		<input id="location" type="text" name="location" placeholder="Building, Room">
		<br>
		
		<b>Start : </b>
		<input id="start" type="text" name="start" placeholder="Start time">
		
		<b>End : </b>
		<input id="end" type="text" name="end" placeholder="End time">
		<br>
		
		<textarea id="description" name="description" rows="6" cols="66" placeholder="Description"></textarea>
		<br>
		
		<div id="tags" style="text-align: left !important; margin-left: 5%;">
			<h5 style="text-align: left !important; margin-left: 18%; font-weight: bold;"> Tags : </h5>
			<div id="innerTags" class="col-md-8 col-md-offset-2">
				<div class="col-md-6">
					<input type="checkbox" name="tags" value="CMPSC">Agricultural Sciences
				</div>
				<div class="col-md-6">
					<input type="checkbox" name="tags" value="CMPSC">Arts and Architecture
				</div>
				<div class="col-md-6">
					<input type="checkbox" name="tags" value="CMPSC">Business, Smeal College
				</div>
				<div class="col-md-6">
					<input type="checkbox" name="tags" value="CMPSC">Communications
				</div>
				<div class="col-md-6">
					<input type="checkbox" name="tags" value="CMPSC">Earth and Mineral Sciences
				</div>
				<div class="col-md-6">
					<input type="checkbox" name="tags" value="CMPSC">Education
				</div>
				<div class="col-md-6">
					<input type="checkbox" name="tags" value="CMPSC">Engineering
				</div>
				<div class="col-md-6">
					<input type="checkbox" name="tags" value="CMPSC">Health and Human Development
				</div>
				<div class="col-md-6">
					<input type="checkbox" name="tags" value="CMPSC">Information Sciences and Technology
				</div>
				<div class="col-md-6">
					<input type="checkbox" name="tags" value="CMPSC">Liberal Arts
				</div>
				<div class="col-md-6">
					<input type="checkbox" name="tags" value="CMPSC">Nursing
				</div>
			</div>
		</div>
		<br>
		
		<div class="col-md-12">
			<a href="main.html"><button id="cancel" type="button" class="btn btn-default">Cancel</button></a>
			<button type="submit" class="btn btn-default">Submit</button>		
		</div>
		
	</form>
</center>
</body>
</html>