<!DOCTYPE HTML>
<html lang=en>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" //>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
<link href="https://fonts.googleapis.com/css?family=Montserrat|Work+Sans:800,900" rel="stylesheet">
<link rel="stylesheet" href = "../static/istyle.css"/>
<title> Nittany Central </title>
</head>
<script>
	function myFunction() {
		var body = document.getElementById("content");
		var sb = document.getElementById("sidebar");
		var bwidth = body.offsetWidth - sb.offsetWidth - 100;
		document.getElementById("box").style.width = bwidth + "px";
	}
</script>
<body onload="myFunction()">
<div id="content">
	<!--Header-->
	<div id="jumbotron">
		<div id="text">
			<center>
			<h1>Nittany Central</h1>
			<!--<a href="index.html"><h5> Return to Homepage </h5></a>-->
			</center>
		</div>
	</div>
	
	<!--Main Block-->
	<div id="navs" class="col-md-9">
		<ul class="nav nav-tabs nav-tabs">
			<li role="presentation"><a href="{{ url_for('home') }}">All</a></li>
			<li role="presentation" class="active"><a href="{{ url_for('category') }}">Category</a></li>
			<li role="presentation"><a href="{{ url_for('cal') }}">Calendar</a></li>
		</ul>
	</div>
	<div id="article">
		<div id="box" class = "boxed" style="margin-top: 5%;">
			Box class
		</div>
		<div id="box" class = "boxed">
			Box class 2
		</div>
		
	</div>
	
	<!--Sidebar-->
	<div id="sidebar" class="col-md-3">
		<!-- Add Button -->
		<a href="addForm.html"><button id="add" type="button" class="btn btn-default"> Add Event </button></a>
		<hr>
	
		<!-- Search Bar -->
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<div style="float:right">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</form>
	
		<h4><b> Filters : </b></h4>
		<!-- Campus dropdown -->
		<div>
		  <select id="dropdown">
			<option value="All Campuses">All Campuses</option>
			<option value="Abington">Abington</option>
			<option value="Altoona">Altoona</option>
			<option value="Beaver">Beaver</option>
			<option value="Behrend">Behrend</option>
			<option value="Berks">Berks</option>
			<option value="Brandywine">Brandywine</option>
			<option value="Carlisle">Carlisle</option>
			<option value="DuBois">DuBois</option>
			<option value="Fayette">Fayette, The Eberly Campus</option>
			<option value="Great Valley">Great Valley</option>
			<option value="Greater Allegheny">Greater Allegheny</option>
			<option value="Harrisburg">Harrisburg</option>
			<option value="Hazleton">Hazleton</option>
			<option value="Hershey">Hershey</option>
			<option value="Lehigh Valley">Lehigh Valley</option>
			<option value="Mont Alto">Mont Alto</option>
			<option value="New Kensington">New Kensington</option>
			<option value="Schuylkill">Schuylkill</option>
			<option value="Shenango">Shenango</option>
			<option value="University Park">University Park</option>
			<option value="Wilkes-Barre">Wilkes-Barre</option>
			<option value="Williamsport">Williamsport</option>
			<option value="World Campus">World Campus</option>
			<option value="Worthington Scranton">Worthington Scranton</option>
			<option value="York">York</option>
		  </select>
		  <div id="go">
			<button type="button" class="btn btn-default">Go</button>
		  </div>
		</div>
	</div>
	
</div>
</body>
</html>