<!DOCTYPE HTML>
<html lang=en>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" //>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
<link href="https://fonts.googleapis.com/css?family=Montserrat|Work+Sans:800,900" rel="stylesheet">
<link rel="stylesheet" href = "istyle.css"/>
<title> Nittany Central </title>
<script></script>
</head>
<body>
	<div class="jumbotron">
		<div id="text"><center>
		  <h1>Nittany Central</h1><br>
		</center></div>
	</div>
	<div id="buttons" style="float:center;"> 
			<a href="main.html"><button id="forum" type="button" class="btn btn-primary btn-lg" style="width:45%">Forum</button></a>
			<a href="cal.html"><button id="calendar" type="button" class="btn btn-primary btn-lg" style="width:45%; margin-left:9%">Calendar</button></a>
	</div>

</body>
</html>